{% extends 'registration/base.html' %}
{% block body %}
<script>
    var timeslot={
        1:"10-11",2:"11-12",3:"12-01",4:"01-02",5:"02-03",6:"03-04",7:"04-05",8:"05-06",9:"06-07"
    }
</script>

<div class="col-md-12">
<center>
<hr>
    <div class="alert alert-secondary">
        <strong><h2>Detail of Your Cleaner List...</h2></strong>
    </div>
<hr>
    <body>{% if object_list %}
<table class="table table-hover" style="width:70%;">
    <thead>
        <tr>
            <th>No.</th>
            <th>Cleaner First Name</th>
            <th>Cleaner Last Name</th>
            <th>Cleaner City</th>
            <th>Time Slot</th>
            <th>Date</th>
        </tr>
    </thead>

        {% for i in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.cleaner.user.first_name }}</td>
                <td>{{ i.cleaner.user.last_name }}</td>
                <td>{{ i.cleaner.city }}</td>
                <td style="font-weight:bold;"><script>document.write(timeslot[{{ i.timeslot }}])</script></td>
                <td style="font-weight:bold;">{{ i.date }}</td>
            <td><form method="post" action="{% url 'booking:deletebooking' i.pk %}">{% csrf_token %}<button class="glyphicon glyphicon-remove btn btn-danger" action="submit"></button></form></td>

            </tr>
        {% endfor %}
    {% else %}
    <h2>No Data Found</h2>
    {% endif %}
    </body>
</table>
</center>
{% endblock body %}