{% extends 'music/base.html' %}
{% load static %}
{% block body %}
{% if object_list %}
<h3>Here are all Albums:</h3>
<ul>

    {% for album in object_list %}

        <form action="{% url 'music:album-delete' album.id %}" method="POST">{% csrf_token %}
            <li><image src="{{ album.album_logo.url }}" style="width: 100px;"></image>
                <a href="{% url 'music:detail' album.id %}/"> {{ album.album_title }} </a>
                <button type="submit" class="glyphicon glyphicon-remove btn btn-danger"></button>&nbsp;<a href="/album/{{ album.id }}" class="glyphicon glyphicon-edit btn btn-danger"></a></li>
        </form><br><br>
    {% endfor %}
    {% else %}
        <h3>No records found.</h3>
    {% endif %}

</ul>
{% endblock %}