{% extends 'registration/base.html' %}
{% block title %}Cleaner Registration{% endblock %}
{% block body %}
<center><h1>Become Cleaner</h1></center>
<table class="table table-hover" style="width:50%;" align="center">
<form method="POST" >
    {% csrf_token %}
    {% for field in form %}
        <tr>
            <td>
                {{ field.label}}
            </td>
            <td>
                {{ field }}
            </td>
            <td>
                {{ field.errors }}
            </td>
        </tr>
    {% endfor%}
    <tr>
        <td rowspan="3">
            <button type="submit" align="right">Register</button>
        </td>
    </tr>

</form>
</table>
{% endblock %}